/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body{
    margin: 0;
    background: black;
    height: 100vh;
    color: black;
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    cursor: none;
}


#circle{
    position: fixed;
    border-radius: 50%;
    background-color: white;
    background: radial-gradient(circle farthest-corner at center center, rgb(255, 255, 255) 0%, black 50%);
    background: -webkit-radial-gradient(circle farthest-corner at center center, rgb(255, 255, 255) 0%, black 50%);
    background: -moz-radial-gradient(circle farthest-corner at center center, rgb(255, 255, 255) 0%, black 50%);
    z-index: -1;
    height: 300px;
    width: 300px;
    transition: all 200ms ease-out;    
    transform: translateX(-50%) translateY(-50%);
  }





